name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: ['3.10', '3.11', '3.12']
      fail-fast: false # don't cancel other jobs if something fail

    steps:
      - name: Checkout code repository
        uses: actions/checkout@v3 

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coverage[toml]

      - name: Run test with coverage
        run: |
          coverage run -m unittest discover .
          coverage report
          coverage xml

      - name: Upload to codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}